*.pyc
*.pyo
*.__pycache__/
*.vscode/
.idea/
.DS_Store
logs/
robocomp/components/husky_control/build/
robocomp/components/husky_control/bin/
robocomp/components/triangular_mesh/build/
robocomp/components/triangular_mesh/bin/
